In [12]:
!pip install pandas
!pip install numpy
!pip install -U scikit-learn

Requirement already satisfied: pandas in c:\users\owner\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\owner\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\owner\anaconda3\lib\site-packages (1.23.5)
Requirement already satisfied: scikit-learn in c:\users\owner\anaconda3\lib\site-packages (1.2.1)
Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp310-cp310-win_amd64.whl (8.3 MB)
     ---------------------------------------- 8.3/8.3 MB 5.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\owner\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\owner\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\owner\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\owner\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.1
    Uninstalling scikit-learn-1.2.1:
      Successfully uninstalled scikit-learn-1.2.1
Successfully installed scikit-learn-1.2.2

In [1]:
import sqlite3

con=sqlite3. connect('./data/waitlist.db')
cur=con.cursor()

In [2]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [3]:
df = pd.read_sql_query("SELECT * FROM kidney_waitlist", con)
df.head()

,patient_id,age_cat,dialysis_duration,gender,underlying_disease,blood_group,gestation,prior_transplant,cPRA_cat,HLA_A1,...,HLA_B1,HLA_B2,HLA_DR1,HLA_DR2,DR_00,B_00,A_00,death,transplanted_or_not,waiting_time
0,1,Over60,1.0,M,others,A,No,No,Zero,1,...,44,51,3,7,Heterozygote,Heterozygote,Heterozygote,No,No,13.07
1,2,From18to60,4.0,M,diabetes,A,No,No,Zero,1,...,18,35,11,0,Homozygote,Heterozygote,Heterozygote,Yes,No,68.87
2,3,From18to60,2.0,M,HUS,O,No,No,From50To80,24,...,14,18,1,15,Heterozygote,Heterozygote,Heterozygote,No,No,12.17
3,4,From18to60,17.0,M,diabetes,O,No,Yes,ZeroTo50,24,...,14,18,1,15,Heterozygote,Heterozygote,Heterozygote,No,No,12.17
4,5,Over60,68.0,M,HUS,A,No,No,Zero,24,...,14,27,13,15,Heterozygote,Heterozygote,Heterozygote,Yes,No,6.47

In [6]:
df['blood_group'].unique()

array(['A', 'O', 'B', 'AB'], dtype=object)

In [8]:
df.loc[[7671]]

,patient_id,age_cat,dialysis_duration,gender,underlying_disease,blood_group,gestation,prior_transplant,cPRA_cat,HLA_A1,...,HLA_B1,HLA_B2,HLA_DR1,HLA_DR2,DR_00,B_00,A_00,death,transplanted_or_not,waiting_time
7671,7672,From18to60,9.0,F,GNS,O,No,Yes,Over80,1,...,14,51,1,8,Heterozygote,Heterozygote,Heterozygote,No,No,10.27

In [12]:
df['dialysis_duration'].unique()

array([  1.,   4.,   2.,  17.,  68.,  18.,  29.,   7.,  10.,  12.,  14.,
       102.,   9.,  21.,   3.,  55.,  82.,   6.,   5.,  27.,  20.,   8.,
        98.,  24.,  71.,  19.,  83.,  16.,  23.,  25.,  15.,  22.,  11.,
        36.,  49., 101.,  78.,  46.,  30.,  57.,  63.,  43., 180.,  34.,
        28.,  31.,  13.,  74.,  52.,  32.,  41.,  73.,  35.,  72.,  39.,
        65.,  88.,  56.,  92., 131.,  66.,  69., 158.,  40.,  26., 122.,
        42.,  89.,  33.,  53.,  37.,  54., 111.,  45.,  62., 110.,  59.,
        51., 145., 147., 121.,  87.,  80., 100.,  47., 134.,  44.,  77.,
        79.,  38.,  58., 173., 118., 108.,  81.,  70.,  48., 165.,  90.,
       115.,  61.,  95.,  67., 106.,  50.,  86.,  75., 129., 128.,  64.,
        93.,  85.,  94.,  60., 104.,  84., 109., 126.,  91., 105., 170.,
       143., 177., 138., 167., 142.,  76., 103., 130., 114., 119., 113.,
       163., 124., 159., 135.,  99., 125., 176., 169., 146., 120., 150.,
       144., 175., 117., 112., 127., 132.,  97., 139., 164.,  96., 152.,
       148., 107., 133., 178., 149., 160., 155., 153., 116., 137., 141.,
       157., 179., 123., 166., 172., 161., 162., 136., 140., 168., 151.,
       156., 154., 174., 171.])

In [47]:
# separate feature / target
y = df['waiting_time']
x = df.drop(columns=['waiting_time', 'patient_id', 'death',\
                     'transplanted_or_not', 'HLA_A1', 'HLA_A2',\
                     'HLA_B1', 'HLA_B2', 'HLA_DR1', 'HLA_DR2'])

In [48]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48153 entries, 0 to 48152
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age_cat             48153 non-null  object
 1   dialysis_duration   48153 non-null  float64
 2   gender              48153 non-null  object
 3   underlying_disease  48153 non-null  object
 4   blood_group         48153 non-null  object
 5   gestation           48153 non-null  object
 6   prior_transplant    48153 non-null  object
 7   cPRA_cat            48153 non-null  object
 8   DR_00               48153 non-null  object
 9   B_00                48153 non-null  object
 10  A_00                48153 non-null  object
dtypes: float64(1), object(10)
memory usage: 4.0+ MB

In [49]:
# separate train / test
x_train, x_test,y_train, y_test = train_test_split(x, y,test_size=0.2, random_state=42)

In [50]:
# 범주형 데이터 인코딩
from sklearn.preprocessing import LabelEncoder

cat_features = x.select_dtypes(include=['object']).columns
le = LabelEncoder()

for column in cat_features:
    x_train[column] = le.fit_transform(x_train[column])
    x_test[column] = le.transform(x_test[column])

In [51]:
# 인코딩 확인
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38522 entries, 7671 to 15795
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age_cat             38522 non-null  int32
 1   dialysis_duration   38522 non-null  float64
 2   gender              38522 non-null  int32
 3   underlying_disease  38522 non-null  int32
 4   blood_group         38522 non-null  int32
 5   gestation           38522 non-null  int32
 6   prior_transplant    38522 non-null  int32
 7   cPRA_cat            38522 non-null  int32
 8   DR_00               38522 non-null  int32
 9   B_00                38522 non-null  int32
 10  A_00                38522 non-null  int32
dtypes: float64(1), int32(10)
memory usage: 2.1 MB

In [52]:
x_train.head()

,age_cat,dialysis_duration,gender,underlying_disease,blood_group,gestation,prior_transplant,cPRA_cat,DR_00,B_00,A_00
7671,1,9.0,0,0,3,0,1,1,0,0,0
30097,1,3.0,1,1,3,0,0,2,0,0,0
20348,1,2.0,1,4,0,0,0,2,0,0,0
17366,2,25.0,0,3,3,1,0,2,0,0,0
17050,1,5.0,1,1,3,0,0,2,0,0,0

In [75]:
model = make_pipeline(
    MinMaxScaler(),
    SimpleImputer(strategy='median'), 
    RandomForestRegressor(
        n_estimators=100,
        max_depth=10,
        random_state=42)
)

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

In [54]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'mse: {mse}\n')
print(f'rmse: {rmse}\n')
print(f'mae: {mae}\n')
print(f'r2: {r2}')

mse: 885.4929229200344

rmse: 29.757233119361658

mae: 21.863015407795682

r2: 0.06720143197324491

In [55]:
import pickle

with open('./model/model.pkl', 'wb') as pickle_file:
    pickle.dump(model, pickle_file)

In [65]:
print(y_pred)

[38.25361994 46.97791688 35.21569118 ... 35.25827532 60.5130083
 42.04326966]

In [66]:
print(y_test)

8755       8.87
15418     31.70
21100     37.77
19038     10.60
7155      40.23
          ...
8494      12.17
3674     121.90
8721      57.57
44148     32.23
18607     13.97
Name: waiting_time, Length: 9631, dtype: float64

In [59]:
print(y_train)

7671     10.27
30097    12.50
20348    55.30
17366    19.77
17050    61.20
         ...
11284    69.70
44732    30.13
38158    49.33
860      24.33
15795    51.70
Name: waiting_time, Length: 38522, dtype: float64